<div>

  <h3>{{title}}</h3>
  <h2>{{sifu}}</h2>
  <span class="divider"></span>
  <div class='ipsum'>
   <p>Bacon ipsum dolor amet anim pariatur aliqua ham duis, andouille short loin dolore sed fatback veniam tenderloin. Laboris porchetta exercitation cillum, eiusmod meatball sint swine hamburger capicola officia shank proident aute. Filet mignon tongue bacon enim ham hock ex. Ea ribeye ball tip anim. Nisi ut capicola, nostrud ullamco swine quis ut tail ipsum pork loin cupidatat kevin sed. In boudin landjaeger qui.</p>
   <p>Cow dolor ball tip tri-tip pork chop velit. Adipisicing sirloin t-bone ribeye excepteur ut in. Ground round flank non excepteur, cillum in pig ham hock landjaeger turducken jowl velit. Ribeye ex eu eiusmod kevin, tongue consectetur pastrami lorem velit venison labore. Strip steak ground round spare ribs, in ipsum laboris landjaeger pig et meatloaf ad pancetta. Incididunt officia mollit, bresaola tongue capicola nisi. Pork belly mollit frankfurter ground round aliquip tri-tip.</p>
  </div>
  
<google-maps height='500' width='500'></google-maps>

</div>