<div>

  <h3>{{title}}</h3>
  <h2>{{sifu}}</h2>
  <span class="divider"></span>
  <div class='ipsum'>
    <p>
      Hail Satan. This is just a tribute. Give it up for KG, give it up for me. We'll lead as Two Kings, We'll f***in' lead as Two Kings. High above the mucky-muck, castle made of clouds. There sits Wonderboy, sitting oh so proudly. That---what happened before when I said I love you, that was a test. Because, man, I could've made a total ASS of myself if I hadn't done this test on you. Get the scientists working on the tube technology, immediately. Chop chop! If me and Lee and KG could be three, flying free tenaciously. Take the six nuggets and throw two of them away. I'm just wantin' a four nugget thing. Couldn't split up Kato and Nash, that's true. Couldn't split up Tango and Cash, that's also true. How about the power to kill a yak, from 200 yards away, with mind-bullets? They must pay the rent, with their rock.
    </p>
    <p>
      This is just a tribute. They must pay the rent, with their rock. We'll lead as Two Kings, We'll f***in' lead as Two Kings. There's just no way that we can win, that was a masterpiece. Can't you see he's the man, let me hear you applaud, he is more than a man he's a shiny golden god. Your brother's 10x better than you Jesus loves him more. The most powerful tool in singing technology since yodelling, dude. Yeah that was awesome. Compared to bull***t. Sometimes you have to say please. What we got is gonna turn your brain into s**t Punk-rock tried to kill the metal. Better, closer, warmer. How about the power to kill a yak, from 200 yards away, with mind-bullets? are you willing to make the commitment to wakin' up at the crack a' noon, for deep-knee rock squats!? Seven or eight at a time, in a row? Cause it's the pick... of destiny.
    </p>
  </div>
  
<google-maps height='500' width='500'></google-maps>

</div>