body {

  //tall screens
  @media (min-height: 1100px) {
    #hero {
      max-width: none;
      transition: 0.2s;
    }
  }

  @media (min-width: 1450px) and (min-height: 1100px) {
    h1 {
      font-size: 180px;
      line-height: 180px;
      transition: 0.2s;
    }
  }

  @media (max-width: 1700px) and (min-height: 1100px) {
    h1 {
      font-size: 140px;
      line-height: 140px;
      transition: 0.2s;
    }
    #hero {
      background-position: -100px 0;
    }
  }

  @media (max-width: 1200px) and (min-height: 1100px) {
    body h1 {
      font-size: 120px;
      line-height: 120px;
      transition: 0.2s;
    }
    #main {
      flex: 0.75;
      transition: 0.2s;
    }
  }

  @media (max-width: 1000px) and (min-height: 1100px) {
    body #hero {
      background-position: -120px 0;
    }
  }

  @media (max-width: 800px) and (min-height: 1100px) {
    body h1 {
      font-size: 100px;
      line-height: 100px;
      transition: 0.2s;
    }
  }

  @media (max-width: 700px) and (min-height: 1100px) {
    body #hero {
      max-height: 800px;
      background-position: center;
    }
  }

  @media (max-width: 500px) and (min-height: 1100px) {
    body h1 {
      font-size: 80px;
      line-height: 80px;
    }
  }
  
}